.PostCategoriesNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.PostCategoriesNav > * + * {
  margin-left: 1rem;
}
#NavLinkfaq {
  border-radius: 2rem;
  text-align: center;
  background-color: var(--lightGrey);
}

#NavLinkfaq:hover,
#NavLinkfaq:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}
.PostCategoriesNav input[type='text'] {
  right: 0;
  position: relative;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  width: 100%;
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    width: 100%;
  }
}
